<div class="container text-light pb-5">
  <div class="row mt-4 d-flex align-items-center">
    <div class="col-2"><img src="../../assets/img/woman-pic.png" alt=""></div>
    <div class="col-8">
      <div class="post__details">
        <span class="post__name">
          {{post.usuario}}
        </span>
        <span class="post__hability">
          {{post.habilidades}}
        </span>
        <p class="post__presentation">
          apresenta
          <span class="post__presentation--title">
            {{post.tipo_postagem}}: {{post.titulo}}
          </span>
        </p>
      </div>
    </div>
    <div class="col-2 post__curtidas" (click)="curtirPost()">
      <div class="post__curtidas--numero">{{post.curtidas}}</div> <img src="../../assets/img/love.png">
    </div>
  </div>

  <div class="work__text">
    <pre>
        {{addNewLines(post.postagem)}}
    </pre>

    <div class="work__tags">
      <!-- Tags: <a *ngFor="let tag of post.tags" href="#">{{tag}}</a> -->
    </div>
  </div>

  <div class="comment">
    <h5 class="mb-4">Avaliações</h5>
    <div class="comment__person " *ngFor="let c of comentarios">
      <div class="row">
        <div class="col-1">
          <img src="../../assets/img/foto-comment-1.png" alt="">
        </div>
        <div class="col-11 d-flex align-items-center pl-4">
          <div class="comment__comment">
            <span class="comment__name">
              {{c.usuario}}
            </span>
            <p class="comment__text">
              {{c.comentario}}
            </p>
          </div>
        </div>
        <br>
      </div>
      <br>
    </div>
    <br>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nome</label>
    <input [(ngModel)]="usuario" #ctrl="ngModel" type="text" class="form-control" id="nome" placeholder="Luciana Almeida">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Comentário</label>
    <textarea  [(ngModel)]="comentario" class="form-control" id="comentário" rows="3"></textarea>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary btn-lg" (click)="onComment()">Comentar</button>
  </div>
</div>