<div class="container text-light pb-5">
  <div class="row mt-4 d-flex align-items-center">
    <div class="col-2"><img src="../../assets/img/woman-pic.png" alt=""></div>
    <div class="col-8">
      <div class="post__details">
        <span class="post__name">
          {{post.usuario}}
        </span>
        <span class="post__hability">
          {{post.habilidades}}
        </span>
        <p class="post__presentation">
          apresenta
          <span class="post__presentation--title">
            {{post.tipo_postagem}}: {{post.titulo}}
          </span>
        </p>
      </div>
    </div>
    <div class="col-2 post__curtidas">
      <div class="post__curtidas--numero">{{post.curtidas}}</div> <img src="../../assets/img/love.png">
    </div>
  </div>

  <div class="work__text">
    <pre>
        {{addNewLines(post.postagem)}}
    </pre>

    <div class="work__tags">
      <!-- Tags: <a *ngFor="let tag of post.tags" href="#">{{tag}}</a> -->
    </div>
  </div>

  <div class="comment">
    <h5 class="mb-4">Avaliações</h5>
    <div class="comment__person ">
      <div class="row">
        <div class="col-1">
          <img src="../../assets/img/foto-comment-1.png" alt="">
        </div>
        <div class="col-11 d-flex align-items-center pl-4">
          <div class="comment__comment">
            <span class="comment__name">
              Letícia Menezes
            </span>
            <span class="comment__hability">
              Compositora e coreógrafa
            </span>
            <p class="comment__text">
              Incrível letra, bela harmonia do som e palavras. Não poderia ter sido melhor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>