<div class="container text-light pb-5">
  <div class="row mt-4 d-flex align-items-center">
    <div class="col-2"><img src="../../assets/img/woman-pic.png" alt=""></div>
    <div class="col-8">
      <div class="feed__details">
        <span class="feed__name">
          {{post.usuario}}
        </span>
        <span class="feed__hability">
          {{post.habilidades}}
        </span>
        <p class="feed__presentation">
          apresenta
          <span class="feed__presentation--title">
            {{post.tipo_postagem}}: {{post.titulo}}
          </span>
        </p>
      </div>
    </div>
    <div class="col-2">
      UP<br>
      DOWN
    </div>
  </div>

  <div class="work__text">
    <pre>
        Ninguém ouviu
        Um soluçar de dor
        No canto do Brasil
        Um lamento triste sempre ecoou
        Desde que o índio guerreiro
        Foi pro cativeiro e de lá cantou
        Negro entoou
        Um canto de revolta pelos ares
        Do Quilombo dos Palmares
        Onde se refugiou
        Fora a luta dos Inconfidentes
        Pela quebra das correntes
        Nada adiantou
        E de guerra em paz
        De paz em guerra
        Todo o povo dessa terra
        Quando pode cantar
        Canta de dor
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
        E ecoa noite e dia
        É ensurdecedor
        Ai, mas que agonia
        O canto do trabalhador
        Esse canto que devia
        Ser um canto de alegria
        Soa apenas como um soluçar de dor
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô

        Ninguém ouviu
        Um soluçar de dor
        No canto do Brasil
        Um lamento triste sempre ecoou
        Desde que o índio guerreiro
        Foi pro cativeiro e de lá cantou
        Negro entoou
        Um canto de revolta pelos ares
        Do Quilombo dos Palmares
        Onde se refugiou
        Fora a luta dos Inconfidentes
        Pela quebra das correntes
        Nada adiantou
        E de guerra em paz
        De paz em guerra
        Todo o povo dessa terra
        Quando pode cantar
        Canta de dor
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
        E ecoa noite e dia
        É ensurdecedor
        Ai, mas que agonia
        O canto do trabalhador
        Esse canto que devia
        Ser um canto de alegria
        Soa apenas como um soluçar de dor
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
        ô, ô, ô, ô, ô, ô
    </pre>

    <div class="work__tags">
      <!-- Tags: <a *ngFor="let tag of post.tags" href="#">{{tag}}</a> -->
    </div>
  </div>

  <div class="comment">
    <h5 class="mb-4">Avaliações</h5>
    <div class="comment__person ">
      <div class="row">
        <div class="col-1">
          <img src="../../assets/img/foto-comment-1.png" alt="">
        </div>
        <div class="col-11 d-flex align-items-center pl-4">
          <div class="comment__comment">
            <span class="comment__name">
              Letícia Menezes
            </span>
            <span class="comment__hability">
              Compositora e coreógrafa
            </span>
            <p class="comment__text">
              Incrível letra, bela harmonia do som e palavras. Não poderia ter sido melhor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>