<div class="container blog--wrapper">
  <div class="blog-post">
    <h1 class="text-light">Música de BEL e Mari Romano é produzida por Rafa Prestes</h1>
  </div>
  <p>
    Rafaela Prestes, 28 anos, é técnica de som e produtora musical. Ela é a convidada da semana para lançar um single pela Coletânea SÊLA. Ela convidou BEL Baroni para ser sua intérprete, que junto com Mari Romano escreveram a música “Banquete Fake”. A canção foi gravada no Labsônica, estúdio da Oi Futuro (parceira da Coletânea SÊLA). Você confere com exclusividade agora em todas as plataformas digitais.<br>
    INDICAÇÃO de Rafa Prestes sobre produtora musical : “Indico a produtora musical Barbara Ohana, com quem trabalhei no disco de Alice Caymmi. Acho de extrema competência e sensibilidade para traduzir musicalmente os anseios do artista e com ouvido apurado para conduzir timbres e aperfeiçoamentos técnicos.” (Rafa Prestes)<br>
    <a href="">Leia mais</a>
  </p>
</div>
<div class="container blog--wrapper">
  <div class="blog-post2">
    <h1 class="text-light">“Alegria, arte e afeto”, tudo isso no EP de estreia das Pitaias</h1>
  </div>
  <p>
    Dar o play no EP Pitaias, da banda de mesmo nome, é se sentir em casa, num bar ou andando na rua. Mas tudo isso, juntas. Lançado nesta sexta-feira, 9 de Novembro, o trabalho de estreia do grupo paulistano soa como uma boa conversa entre amigas, aquela durante a volta da faculdade ou entre as cervejas pós expediente pra comentar o dia a dia. É um papo reto e leve, dançante e divertido, como a fruta doce e colorida que dá nome ao projeto.<br>
    Formada por Bê Mantoani (baixo), Luri Mantoani (sax alto), Mag Magrela (voz), Natália Ferlin (guitarra), Norma Odara (voz) e Pri Norat (bateria e percussão), a Pitaias gravou a obra num dos estúdios mais bacanas e referência da capital paulista, no Museu da Imagem e do Som de São Paulo – via Convocatória LAB MIS Estúdio de Som em 2017 -, com algumas gravações tendo sido realizadas também no Estúdio Veredas.<br>
    <a href="">Leia mais</a>
  </p>
</div>
<div class="container blog--wrapper">
  <div class="blog-post3">
    <h1 class="text-light">Girls In The Van: 2ª temporada traz artista do Psicodália</h1>
  </div>
  <p>
    Tudo começou com a van de Marcela Mattos, que viaja levando bandas e projetos artísticos para diversos eventos culturais pelo país. Em uma conversa sobre referências artísticas, durante os bastidores do Ladies Rock Camp Brasil, Marcela Guimarães (direção) e Cindy Lensi (edição) fizeram uma ligação entre o canal Jam In The Van e a van de Marcela Mattos, o que resultou na ideia do Girls In The Van, projeto musical itinerante que surge então com o objetivo de divulgar o trabalho musical das voluntárias que participam da semana de atividades do Camp.<br>
    A primeira leva de vídeos foi gravada em julho do ano passado durante o Ladies Rock Camp Brasil e contou com a participação de Marianne Crestani (Bloody Mary Una Chica Band), Samara Bueno (Mosquito) e Ana Zumpano (Lava Divers) com Célia Regina (Miêta).<br>
    <a href="">Leia mais</a>
  </p>
</div>