<div class="wrapper-hero">
  <div class="hero"></div>
  <img src="../../assets/img/hero-txt.png" class="hero--text" alt="">
</div>

<div class="container">
  <div class="title--teal--bigger mt-4 mb-4"><h3>Como funciona?</h3></div>
  <div class="row">
    <div class="col text-light mt-4">
      <h4>Cadastre-se</h4>

      <p>
        Realize seu cadastro na nossa plataforma e insira detalhes sobre a sua carreira (ou aspirações musicais).  Você não é obrigada a falar de detalhes pessoais.
      </p>
    </div>
    <div class="col-auto text-right">
      <img src="../../assets/img/carousel-mock.png" alt="">
    </div>
  </div>
  <div class="title--teal--bigger mt-4 mb-4"><h3>Quem pode me ver?</h3></div>
  <div class="row">
    <div class="col-auto text-left">
      <img src="../../assets/img/section-2.png" width="600px" alt="">
    </div>
    <div class="col-4 text-light mt-4">
      <h4>Apenas quem deve</h4>

      <p>
        Seu perfil só aparecerá para pessoas registradas e previamente aceitas pela moderação do Escuta as Mina. Isso garante a sua segurança e que você só receberá comentários relevantes para você.
      </p>
    </div>
  </div>
</div>