.wrapper-hero {
    max-width: 100%;
    max-height: 80%;
    overflow: hidden;
}
.hero {
    background-image: url('../../assets/img/hero.jpg');
    background-repeat: no-repeat;
    width: 98.8vw;
    height: 90vh;
    object-fit: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative;
}
.hero--text {
    max-width: 40vmax;
    position: absolute;
    top: 0;
    margin-top: 15%;
    margin-left: 5%;
}