<nav class="navbar navbar-expand-lg navbar-light navbar-teal bg-light">
  <div class="container">
    <a class="navbar-brand"><img src="../assets/img/logo.png" alt="" class="navbar-brand--logo"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a routerLink="/feed" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/feed" class="nav-link">Feed</a></li>
        <li class="nav-item"><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <img src="../assets/img/logo-footer.png">
</footer>