.navbar-teal {
    background-color: #009688 !important;
    border-top: 6px solid #00675b !important;
}
.navbar-brand--logo {
    width: 200px;
}
footer {
    background-color: #009688 !important;
    text-align: center;
    padding: 20px 0;
    height: 130px;
    bottom: 0; right: 0; left: 0;
    position: relative;
    margin-top: 70px;
    display: block;
    clear: both;
}