.navbar-teal {
    background-color: #009688 !important;
    border-top: 6px solid #00675b !important;
}
.navbar-brand--logo {
    width: 200px;
}
footer {
    background-color: #009688 !important;
    text-align: center;
    padding: 20px 0;
    margin-top: 70px;
}