.favorito__foto {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.favorito__curtidas--img {
    width: 20px;
    height: 20px;
}
.icon--external-link {
    width: 40px;
    height: 40px;
    margin: auto;
}
.table td, .table th {
    vertical-align: middle;
}